@media only screen and (min-width: 720px) {
  body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-bottom: -5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  .adogtame-container {
    max-width: 104%;
    margin-left: -7px;
    padding-top: 10px;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
  }

  .apps-container {
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    width:100px;
    user-select: none;
  }

  h1 {
    font-size:40px;
    padding-left: 20px;
    user-select: none;
  }

  .linktitle {
    text-decoration: none;
    color: black;
  }

  .logo-and-name {
    display: flex;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0pt;
    user-select: none;
  }

  .navbar .content-bar {
    list-style-type: none;
    width: 415px;
    text-align: left;
    font-weight:300;
  }

  .navbar .user-bar {
    list-style-type: none;
    width: 180px;
    font-weight:300;
  }

  .linkstyle {
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
    padding-right: 25px;
    text-align: center;
  }

  .linkstyle-last {
    width: 250px;
    text-decoration: none;
    color: black;
    padding: 20px;
    text-align: center;
  }

  .footer-container {
    width: 100%;
    margin: auto;
    background-color: lightgrey;
  }

  .footer {
    max-width: 1000px;
    height: 150px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-left: 20px;
  }

  .home-container {
    width: 98.5%;
    min-height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow:auto;
  }

  h3{
    line-height: 0.2;
  }

  h4 {
    line-height: 0.3;
  }

  h4 span {
    font-weight:400;
  }

  .dogs-app-container, .articles-app-container {
    width: 50%;
    display: block;
    overflow: auto;
    height: auto;
    min-height: 100%;
  }

  .veterinarians-app-container {
    max-width: 1000px;
    display: block;
    height: calc(100vh - 350px);
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .new-button, .input-button, .back-button, .delete-button, .edit-button, .register-button, .login-button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 0.5;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px 15px 10px;
    color: black;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: lightgreen;
    height: 20px;
  }
  
  
  .input-button {
    margin: 5px auto 0px auto;
    width: 140px;
  }
  
  .delete-button {
    background-color: pink;
    color: black;
    width: 80px;
  }
  
  .edit-button {
    width: 60px;
    margin-right: 10px;
  }
  .dog-container-head, .article-container-head {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -25px;
  }

  .dog, .article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-bottom: 1px solid brown;
    padding-bottom: 20px;
  }

  .dog img {
    width: 100%;
  }

  .article img {
    width: 100%;
  }

  form {
    width: 200px;
    margin: 0px auto 20px auto;
    padding: 20px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
  }
  
  input {
    width: 95%;
    margin-bottom: 10px;
  }

  label textarea {
    width: 95%;
  }

  .article-form-container form {
    width: 60%;
    margin: 0px auto 20px auto;
    padding: 20px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
  }

  .vaccines-container {
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  
  .vaccines-container label {
    padding-bottom: 9px;
  }

  .article-form-container input {
    width: 95%;
    margin-bottom: 10px;
  }

  .article-form-container label textarea {
    width: 95%;
  }

  .register-form-container, .login-form-container {
    max-width: 1000px;
    display: block;
    height: calc(100vh - 350px);
    min-height: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .register-form, .login-form {
    height:100%;
    margin: auto;
    padding-top: 10%;
  }
}




